# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
instance/

# Virtualenv
venv/

# Distribution
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Local env files
.env
.env.*

# Editor/IDE
.vscode/
.idea/
.DS_Store

# Database
*.sqlite3
# local sqlite DB folder (persisted locally, not committed)
/data/
app.db
*.db
backups/
# Tests
.pytest_cache/

# Docker
.dockerignore

# Others
*.bak

#Certs
static/certs/*.key
static/certs/*.pem
static/certs/*.pfx
static/certs/*.p12



#Docs
*.xlsx
*.txt

#export data
import_records.py


